@font-face {
    font-family: "Geometria"; 
    src: url("../fonts/Geometria.eot") format("embedded-opentype"),
    url("../fonts/Geometria..woff") format("woff"), 
    url("../fonts/Geometria..ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
    }